@use "base";

h1 {
    color: base.$accent-color;
    font-size: 1.5em;
}

%text-style { color: base.$text-color; }

@mixin box($width, $height, $radius: 0) {
    width: $width;
    height: $height;
    border-radius: $radius;
}

p { @extend %text-style; }
.active { @extend %text-style; background-color: base.$background-color; }

article {
    @include box(100%, auto, 10px);
    
    background-color: lighten(base.$nav-color, 15%);
    margin: 0.5em 1em 0 0;
    padding: 0.5em;

    h1, p {
        padding: 0;
        margin: 0;
    }

    img {
        border-radius: 10px;
        border: 1px solid base.$nav-color;
    }
}

#open-nav {
    @extend %text-style;
    @include box(80px, 40px, 10px);

    background-color: base.$nav-color;
    font-weight: bold;
    text-align: center;
    line-height: 40px;
    position: absolute;
    top: 5px;
    right: 5px;
    display: none;
}

#open-nav:hover {
    cursor: pointer;

    @if base.$lightTheme {
        background-color: darken(base.$nav-color, 10%);
    } @else {
        background-color: lighten(base.$nav-color, 20%);
    }
}

@media (width <= 500px) {
    #open-nav { display: block; }
}