@use "base";

h1 {
    color: base.$accent-color;
    font-size: 1.5em;
}

%text-style { color: base.$text-color; }
p { @extend %text-style; }
.active { @extend %text-style; background-color: base.$background-color; }

#open-nav {
    @extend %text-style;

    background-color: base.$nav-color;
    width: 80px;
    height: 40px;
    font-weight: bold;
    text-align: center;
    line-height: 40px;
    border-radius: 10px;
    position: absolute;
    top: 5px;
    right: 5px;
    display: none;
}

#open-nav:hover {
    cursor: pointer;

    @if base.$lightTheme {
        background-color: darken(base.$nav-color, 10%);
    } @else {
        background-color: lighten(base.$nav-color, 20%);
    }
}

@media (width <= 500px) {
    #open-nav { display: block; }
}